<div class="read-section" *ngIf="tutorials">
  <h3 class="read-section-header">Tutorials</h3>
  <ul class="tutorial-list">
    <li *ngFor="let tutorial of tutorials | async; let i = index" class="tutorial-item">
      <a [href]="tutorial.url" target="_blank">{{ tutorial.name }}</a>
      <span class="delete-link" (click)="deteleTutorial(i)">delete</span>
    </li>
  </ul>
</div>