/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  background-color: #f4f4f4;
}


input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.delete-link {
  color: red;
  cursor: pointer;
//  text-decoration: underline;
  margin-left: 25px;
}

.header {
  font-size: 28px;
  background-color: blueviolet;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.create-section {
  width: 800px;
  margin: 25px Auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
}

.read-section {
  width: 800px;
  margin: 0 Auto;
  background-color: #fff;
  border-radius: 10px;
//  padding: 25px;
  overflow: hidden;
}
.read-section-header {
  background-color: blueviolet;
  color: #fff;
  margin: 0;
  padding: 10px 25px;
}

.button {
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.tutorial-list {
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
.tutorial-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  
}

a {
  text-decoration: none;
}